<i class="fas fa-10x fa-bars"></i>
<span class="fa-layers fa-10x  fa-fw" >
  <i class="far fa-clipboard" ></i>
  <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-11.5 rotate--30" style="font-weight:900;color:black">NEW</span>
</span>
