<!Doctype html>
<html>
  <head>
    <meta charset = "utf-8" />
    <title>자동차 검색</title>
  </head>
  <body>
    <h2>자동차 이름</h2>
    <form action = "/carview">
      <input type = "text" name="q" />
      <input type = "submit" value "뿅" />
    </form>
  </body>
</html>
