<form action = "/create">
  <div class="form-group">
    <label for="exampleFormControlInput1">제목</label>
    <input type="text" class="form-control" name="title" placeholder="제목을쓰세요">
    <label for="exampleFormControlTextarea1">내용</label>
    <textarea class="form-control" name="content" rows="3" placeholder="내용을쓰세요"></textarea>
  </div>
    <div class="row">
      <div class="col">
        <input type="text"  name="username" class="form-control" placeholder="작성자">
        <input type="submit"  value="확인" class="btn btn-primary" >
      </div>
    </div>
  </form>
