<!Doctype HTML>
<html>
  <head>
    <title> 차영롱짱 졸라짱 개짱 </title>
  </head>
  <body>
    <% if @name == "차영롱" %>
    <h1><%= @name %> 어서오세요</h1>
    <% else %>
    <h1><%= @name %> 돌아가시오</h1>
    <% end %>
  </body>

</html>
