<!Doctype html>
<html>
  <head>
    <meta charset = "utf-8" />
    <title>블로그</title>
  </head>
  <body>
    <h2>여기에 글을 쓰세요</h2>
    <form action = "/create">
      <p>제목 : <input type = "text" name = "title" /></p>
      <p>내용 : <textarea name = "content"></textarea></p>
      <input type = "submit" value = "확인" />
    </form>
  </body>
</html>
